{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
<article>
  <div class="py-4 px-3 lg:px-0 text-gray-800 dark:text-gray-300">
    <div class="flex flex-col lg:flex-row">
      {{ if $featured_image }}
        <div class="w-full lg:w-2/5 mb-4 lg:mb-0">
          <a href="{{.RelPermalink}}">
            <img src="{{ $featured_image }}" alt="image from {{ .Title }}" class="w-full h-auto object-cover">
          </a>
        </div>
      {{ end }}
      <div class="w-full{{ if $featured_image }} lg:w-3/5 {{ compare.Conditional (compare.Eq $.Site.Language.LanguageDirection "rtl") "lg:pr-3" "lg:pl-3" }}{{ end }}">
        <h1 class="text-xl font-serif leading-tight">
          <a href="{{.RelPermalink}}" class="hover:underline">
            {{ .Title }}
          </a>
        </h1>
        <div class="text-xs lg:text-sm leading-relaxed">
          {{ .Summary }}
        </div>
        {{ with .Params.author | compare.Default .Site.Params.author }}
          <p class="text-xs leading-relaxed">Von {{ . }}</p>
        {{- end -}}
        <a href="{{.RelPermalink}}" class="bg-lime-500 hover:bg-lime-700 text-white font-bold py-2 px-4 rounded">
          Weiterlesen
        </a>
      </div>
    </div>
  </div>
</article>
