{{ $featured_image := partials.Include "func/GetFeaturedImage.html" . }}
<article>
  <div class="px-3 py-4 text-gray-800 lg:px-0">
    <div class="flex flex-col lg:flex-row">
      {{ if $featured_image }}
        <div class="mb-4 w-full lg:mb-0 lg:w-2/5">
          <a href="{{.RelPermalink}}">
            <img
              src="{{ $featured_image }}"
              alt="image from {{ .Title }}"
              class="h-auto w-full object-cover"
            />
          </a>
        </div>
      {{ end }}
      <div class="w-full{{ if $featured_image }} lg:w-3/5 lg:pl-3 }}{{ end }}">
        <h1 class="font-serif text-xl leading-tight">
          <a href="{{.RelPermalink}}" class="hover:underline"> {{ .Title }} </a>
        </h1>
        <div class="text-xs leading-relaxed lg:text-sm">{{ .Summary }}</div>
        {{ with .Params.author | compare.Default .Site.Params.author }}
          <p class="text-xs leading-relaxed">Von {{ . }}</p>
        {{- end -}}
        <a
          href="{{.RelPermalink}}"
          class="rounded bg-lime-500 px-4 py-2 font-bold text-white hover:bg-lime-700"
        >
          Weiterlesen
        </a>
      </div>
    </div>
  </div>
</article>
