@import "tailwindcss";
@source "hugo_stats.json";

h2 {
  @apply my-3 text-3xl font-bold text-gray-600;
}

ul {
  @apply list-inside list-disc;
}

p {
  @apply mb-3;
}

p > a {
  @apply underline;
}

/* pagination.html: https://github.com/spf13/hugo/blob/master/tpl/tplimpl/template_embedded.go#L117 */
.pagination {
  margin: 3rem 0;
}

.pagination li {
  display: inline-block;
  margin-right: 0.375rem;
  font-size: 0.875rem;
  margin-bottom: 2.5em;
}

[dir="rtl"] .pagination li {
  margin-left: 0.375rem;
  margin-right: 0;
}

.pagination li a {
  padding: 0.5rem 0.625rem;
  background-color: white;
  color: #333;
  border: 1px solid #ddd;
  border-radius: 3px;
  text-decoration: none;
}
.pagination li.disabled {
  display: none;
}
.pagination li.active a,
.pagination li.active a:link,
.pagination li.active a:active,
.pagination li.active a:visited {
  background-color: #ddd;
}

#TableOfContents ul li {
  margin-bottom: 1em;
}

.fc {
  & .fc-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
  }
}
