<footer class="bg-gray-800 text-white py-6">
  <div class="container mx-auto text-center">
    {{ if .Site.Menus.footer }}
      <div class="flex justify-center space-x-6 mb-4">
        {{ range .Site.Menus.footer }}
          <a href="{{ .URL }}" title="{{ i18n "pageTitle" . }}" class="hover:text-gray-400">{{ .Name }}</a>
        {{ end }}
      </div>
    {{ end }}
    <p class="text-sm">&copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006" }} {{ end }}</p>
  </div>
</footer>
